@import "../../../styles/variables";

header.home-view .float-background {
  background-color: $primary-color-1;
  position: absolute;
  top: 0;
  height: 28.5rem;
  width: 100%;
  z-index: -1;
}

header.home-view h2 {
  color: #ffffff;
  font-family: $markazi;
  font-size: 2.9rem;
  height: 3.25rem;
}

header.home-view .header-description {
  color: #ffffff;
  font-family: $karla;
  font-size: 1.5rem;
  padding-left: 0.1rem;
  margin-bottom: 0.75rem;
  line-height: 1.75rem;
}

header.home-view .btn-primary span {
  padding-left: 1rem;
  padding-right: 1rem;
}

header.home-view section {
  padding-bottom: 2rem;
  min-width: 22rem;
}

header.home-view .shrink-image {
  max-width: 100%;
}

header.home-view .right-align {
  text-align: right;
  width: 100%;
  padding-top: calc(425px - 50vw);
}

header.home-view img {
  margin-top: 2.5rem;
  border-radius: 1rem;
  width: 100%;
  height: 50vw;
  max-height: 26.5rem;
  max-width: 25rem;
  object-fit: cover;
}

@media (max-width: 575px) {
  header.home-view .right-align {
    padding-top: 0rem;
  }

  header.home-view img {
    margin-top: 0rem;
    max-width: 100%;
  }

  .container-sm,
  header.home-view .container {
    max-width: 48rem;
  }
}

@media (max-width: 768px) {
  .container-md, .container-sm, header.home-view .container {
      max-width: 44rem;
  }
}