$primary-color-1: #495E57;
$primary-color-2: #F4CE14;
$primary-color-2-hover: #f8cf03;
$primary-color-2-disabled: #cbaa04;
$secondary-color-1: #EE9972;
$secondary-color-2: #FDBABB;
$highlight-color-1: #EDEFEE;
$highlight-color-2: #333333;

// fonts
$karla: 'Karla', 'sans-serif';
$markazi: 'Markazi Text', 'sans-serif';