@import "../../../styles/variables";

form.booking-form {
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
}

form.booking-form select {
  border-radius: 1rem;
  border-width: 0rem;
}

form.booking-form input {
  border-radius: 1rem;
  border-width: 0rem;
}

article.reservation-card {
  position: relative;
  background-color: $highlight-color-1;
  border-radius: 1rem;
}

article.reservation-card img {
  border-radius: 1rem 1rem 0rem 0rem;
  height: 15rem;
  width: 100%;
  object-fit: cover; object-position: 70% 50%;
}

article.reservation-card h3 {
  display: inline-block;
  color: #000000;
  font-family: $markazi;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

article.reservation-card section {
  display: flex;
  justify-content: space-between;
}

article.reservation-card section p {
  display: inline-block;
  color: $secondary-color-1;
  font-size: 0.7rem;
  font-weight: bold;
  padding-top: 0.2rem;
  margin-bottom: 0rem;
}

article.reservation-card button {
  position: relative;
  font-size: 1rem;
}