@import "../../../styles/variables";

.navbar {
  padding: 1.5rem 1rem 1.5rem 1rem;
  font-family: $karla;
  font-weight: bolder;
  color: #000000;
  background-color: #ffffff;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}

.navbar.navbar-shrink {
  border-bottom: 2px solid $primary-color-1;
}

.navbar.scroll-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.navbar-nav {
  margin-left: auto;
  margin-top: 0.3rem;
}

.navbar-logo {
  height: 3.5rem;
  transition: height 0.3s;
}

.navbar.navbar-shrink .navbar-logo {
  height: 3.25rem;
}

.navbar-expand-lg .container .navbar-nav .nav-link {
  white-space: nowrap;
  transition: font-size 0.3s, padding-left 0.3s, padding-right 0.3s, height 0.3s;
}

.navbar.navbar-shrink .container .navbar-nav .nav-link {
  transition: font-size 0.3s, padding-left 0.3s, padding-right 0.3s, height 0.3s;
}

@media (max-width: 991px) {
  .navbar-expand-lg .container .navbar-nav .nav-link {
    font-size: 1.30rem;
  }

  .navbar.navbar-shrink .container .navbar-nav .nav-link {
    font-size: 1.25rem;
  }

  .navbar .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .container .navbar-nav .nav-link {
    font-size: 1.25rem;
    padding-right: 1.5rem;
  }

  .navbar.navbar-shrink .container .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-lg .container .navbar-nav .nav-link {
    font-size: 1.35rem;
    padding-right: 1.5rem;
  }

  .navbar.navbar-shrink .container .navbar-nav .nav-link {
    font-size: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}